html,
body {
  background-color: rgb(189, 189, 189);
}

.title {
  position: relative;
  left: 3%;
  right: 85.79%;
  top: 3.05%;
  bottom: 89.77%;
  font-family: SofiaProBold;
  font-size: 48px;
  text-align: left;
  letter-spacing: 5.41667px;
  color: #d1775d;
  padding-top: 25px;
}

.divider {
  border: 0.4px solid #979797;
}

.padding {
  padding-top: 15px;
  padding-bottom: 10px;
}
