html,
body {
  background-color: #f2f2f2;
}

.title {
  position: relative;
  left: 3%;
  right: 85.79%;
  top: 3.05%;
  bottom: 89.77%;
  font-family: SofiaProBold;
  font-size: 48px;
  text-align: left;
  letter-spacing: 5.41667px;
  color: #d1775d;
  padding-top: 25px;
}

.divider {
  border: 0.4px solid #979797;
  margin-bottom: 20px;
  margin-top: 20px;
}
