.playlistColumnHeaders {
  position: relative; 
  font-family: SofiaProLight;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 4px;
  margin-bottom: 20px;
  margin-top: 5px;
  color: #a0a0a0;
}
