body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "SofiaProBold", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "SofiaProBold";
  src: local("SofiaProBold"),
    url("./assets/fonts/Sofia Pro Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SofiaProMedium";
  src: local("SofiaProMedium"),
    url("./assets/fonts/Sofia Pro Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SofiaProRegular";
  src: local("SofiaProRegular"),
    url("./assets/fonts/Sofia Pro Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SofiaProLight";
  src: local("SofiaProLight"),
    url("./assets/fonts/Sofia Pro Light.ttf") format("truetype");
}
